:.log
*.dvi
*.aux
*.toc
*.log
*.tex
*.blg
*.eepic
*.eepic~
!lphys2114.tex
*.pdf
*.png
!Figures/lphys2114-figures.pdf
!Jupyter/*files/*.pdf
!Jupyter/*.pdf
*.zip
*.fdb_latexmk
*.fls
*.out
*.ilg
*.ind
*.idx
Jupyter/.ipynb_checkpoints/
*.Definitions
*.Theorems
tmp
